html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: aqua;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

main {
  padding-top: 25vh;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url(../img/bkg-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
}

.dish img {
  height: 100px;
  width: 100px;
}